// Body background color
$body-background-color: #fff;

// Font header color
$header-color: #eee;
$header-color-slogan: #999;

// Header background color
$header-background: #222;

// Define shadow color for nav
$nav-shadow-color: rgba(50, 50, 50, 0.1);
$nav-color-hover: #222;

// Black color font
$color-black: #000;
$color-white: #fff;
$color-hover: #1593ED;
